In [264]:
import pandas as pd

In [265]:
card = pd.read_csv('./data/card.csv', encoding='utf-8')
benefit = pd.read_csv('./data/benefit.csv', encoding='utf-8')
credit_card = pd.read_csv('./data/credit_card.csv', encoding='cp949')

In [266]:
card.head()

,0,1,2,3,4,5,6
0,1.0,신한카드 Hi-Point,신한카드,"해외겸용 8,000원",전월실적없음,VISAmastercardJCB,https://api.card-gorilla.com:8080/storage/card...
1,2.0,신한카드 Love,신한카드,"해외겸용 8,000원",전월실적20만원 이상,VISAmastercardAMEXUnionPay,https://api.card-gorilla.com:8080/storage/card...
2,3.0,신한카드 Lady,신한카드,"해외겸용 5,000원",전월실적30만원 이상,VISAmastercardUnionPay,https://api.card-gorilla.com:8080/storage/card...
3,4.0,SK에너지 신한카드The you,신한카드,"국내전용 7,000원 해외겸용 12,000원",전월실적30만원 이상,VISAmastercardUnionPay,https://api.card-gorilla.com:8080/storage/card...
4,5.0,GS칼텍스 신한카드Dream 100,신한카드,"국내전용 7,000원 해외겸용 12,000원",전월실적30만원 이상,VISA,https://api.card-gorilla.com:8080/storage/card...

In [267]:
benefit.head()

,0,1,2,3,4
0,1.0,신한카드 Hi-Point,쇼핑,백화점/할인점/홈쇼핑·온라인몰 1.0~5.0% 적립,롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립\r\n- 문화센타 등 비쇼핑 ...
1,1.0,신한카드 Hi-Point,모든가맹점,전국 가맹점 0.2~2.0% 적립\r\n해외 가맹점 1~5% 적립,전국 가맹점 0.2~2.0% 적립\r\n- 국내 어디서나 이용한 일시불/할부 금액의...
2,1.0,신한카드 Hi-Point,주유,"S-OIL, 현대오일뱅크 주유 시 리터 당 60원 적립",S-OIL / 현대오일뱅크 주유 시 리터 당 60원 마이신한포인트 적립\r\n- S...
3,1.0,신한카드 Hi-Point,금융,신한투자증권 CMA 결제계좌 0.2% 추가 적립\r\n마이신한포인트 가맹점 추가 적립,신한투자증권 CMA 결제계좌 지정 시 신판이용 금액의 0.2% 마이신한포인트 추가 ...
4,1.0,신한카드 Hi-Point,통신,SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립,SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립\r\n- SK텔레콤/K...

In [268]:
credit_card.head()

  card_corp                        card_name
0    KB국민카드                 KB국민 My WE:SH 카드
1      롯데카드                      LOCA 365 카드
2      신한카드                     신한카드 Mr.Life
3      삼성카드  삼성카드 & MILEAGE PLATINUM (스카이패스)
4      우리카드                         DA@카드의정석

In [269]:
card.columns = ["card_id", "card_name", "card_brand", "card_fee_in", 'card_record', "card_type", "card_image"]

In [270]:
card['card_name'].isnull().sum()

204

In [271]:
expected_card_ids = set(range(1, 2573))

# 현재 데이터프레임의 card_id 추출
existing_card_ids = set(card['card_id'])

# 빠진 번호 찾기
missing_card_ids = expected_card_ids - existing_card_ids

print("빠진 번호:", missing_card_ids)

빠진 번호: {515, 2570, 2571, 20, 23, 2074, 34, 547, 2087, 1064, 1069, 49, 569, 2134, 600, 601, 602, 603, 619, 637, 640, 129, 647, 648, 1166, 663, 153, 154, 673, 1186, 2210, 1707, 686, 687, 694, 695, 2233, 2234, 2235, 700, 701, 702, 703, 704, 705, 2236, 2238, 708, 2239, 2240, 2241, 2242, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2255, 2256, 2259, 724, 2260, 730, 731, 732, 733, 2271, 2272, 738, 740, 741, 2277, 233, 2287, 753, 2289, 2290, 762, 763, 764, 765, 253, 2303, 256, 257, 2304, 2305, 261, 262, 265, 2314, 2315, 2318, 272, 2322, 2324, 2326, 2332, 286, 801, 2342, 2343, 2349, 2358, 2359, 2361, 2364, 321, 2369, 2371, 1860, 327, 1351, 2376, 2377, 2378, 2379, 2386, 2387, 852, 853, 2388, 2389, 2390, 2393, 2394, 2399, 352, 2403, 356, 2404, 358, 2413, 2414, 2415, 2418, 2419, 2421, 2425, 2426, 2427, 2428, 894, 382, 384, 896, 898, 1922, 1924, 2432, 2434, 2435, 2436, 2439, 2440, 2441, 2442, 2444, 401, 2454, 2456, 922, 2458, 2462, 2464, 2466, 2469, 2470, 2471, 428, 429, 940, 1460, 2486, 2490, 2491, 956, 2492, 2493, 2495, 1984, 1985, 1487, 464, 465, 1490, 467, 468, 2514, 2515, 2516, 2517, 2518, 2520, 2521, 2524, 2530, 2531, 2534, 495, 2544, 2550, 2552, 2043, 509, 510, 511}

In [272]:
card[card['card_name'].isnull()]

     card_id card_name card_brand card_fee_in card_record card_type card_image
47       NaN       NaN        NaN         NaN         NaN       NaN        NaN
49       NaN       NaN        NaN         NaN         NaN       NaN        NaN
51       NaN       NaN        NaN         NaN         NaN       NaN        NaN
53       NaN       NaN        NaN         NaN         NaN       NaN        NaN
55       NaN       NaN        NaN         NaN         NaN       NaN        NaN
..       ...       ...        ...         ...         ...       ...        ...
445      NaN       NaN        NaN         NaN         NaN       NaN        NaN
447      NaN       NaN        NaN         NaN         NaN       NaN        NaN
449      NaN       NaN        NaN         NaN         NaN       NaN        NaN
451      NaN       NaN        NaN         NaN         NaN       NaN        NaN
453      NaN       NaN        NaN         NaN         NaN       NaN        NaN

[204 rows x 7 columns]

In [273]:
card.dropna(subset=['card_name'])

,card_id,card_name,card_brand,card_fee_in,card_record,card_type,card_image
0,1.0,신한카드 Hi-Point,신한카드,"해외겸용 8,000원",전월실적없음,VISAmastercardJCB,https://api.card-gorilla.com:8080/storage/card...
1,2.0,신한카드 Love,신한카드,"해외겸용 8,000원",전월실적20만원 이상,VISAmastercardAMEXUnionPay,https://api.card-gorilla.com:8080/storage/card...
2,3.0,신한카드 Lady,신한카드,"해외겸용 5,000원",전월실적30만원 이상,VISAmastercardUnionPay,https://api.card-gorilla.com:8080/storage/card...
3,4.0,SK에너지 신한카드The you,신한카드,"국내전용 7,000원 해외겸용 12,000원",전월실적30만원 이상,VISAmastercardUnionPay,https://api.card-gorilla.com:8080/storage/card...
4,5.0,GS칼텍스 신한카드Dream 100,신한카드,"국내전용 7,000원 해외겸용 12,000원",전월실적30만원 이상,VISA,https://api.card-gorilla.com:8080/storage/card...
...,...,...,...,...,...,...,...
2562,2566.0,Trip to 로카,롯데카드,"국내전용 20,000원 해외겸용 20,000원",전월실적없음,mastercardAMEX,https://api.card-gorilla.com:8080/storage/card...
2563,2567.0,우리동네GS 삼성카드,삼성카드,"국내전용 15,000원 해외겸용 15,000원",전월실적없음,VISA,https://api.card-gorilla.com:8080/storage/card...
2564,2568.0,TMAP & LOGI 행복 체크카드,KB국민카드,국내전용 없음 해외겸용 없음,전월실적없음,mastercard,https://api.card-gorilla.com:8080/storage/card...
2565,2569.0,트래블월렛 우리카드,우리카드,"국내전용 20,000원 해외겸용 20,000원",전월실적없음,VISA,https://api.card-gorilla.com:8080/storage/card...
2566,2572.0,Mile1 하나카드,하나카드,"국내전용 20,000원 해외겸용 20,000원",전월실적없음,UnionPay,https://api.card-gorilla.com:8080/storage/card...

In [274]:
credit_card

    card_corp                        card_name
0      KB국민카드                 KB국민 My WE:SH 카드
1        롯데카드                      LOCA 365 카드
2        신한카드                     신한카드 Mr.Life
3        삼성카드  삼성카드 & MILEAGE PLATINUM (스카이패스)
4        우리카드                         DA@카드의정석
..        ...                              ...
841      우리카드                             엉 카드
842    KB국민카드                         웅진씽크빅 카드
843      신한카드                    위버스 신한카드(TXT)
844      롯데카드                      이랜드리테일 롯데카드
845      신한카드                      제주신화월드 신한카드

[846 rows x 2 columns]

In [275]:
benefit.columns = ["card_id", "card_name", "card_category", "content", 'detail']

In [244]:
# filtered_credit_card.to_csv("filtered_credit_card.csv")

In [276]:
# card 데이터 중에 신용카드만 거르기 (738개)

filtered_credit_card = card[card['card_name'].isin(credit_card['card_name'])]
filtered_credit_card

,card_id,card_name,card_brand,card_fee_in,card_record,card_type,card_image
0,1.0,신한카드 Hi-Point,신한카드,"해외겸용 8,000원",전월실적없음,VISAmastercardJCB,https://api.card-gorilla.com:8080/storage/card...
1,2.0,신한카드 Love,신한카드,"해외겸용 8,000원",전월실적20만원 이상,VISAmastercardAMEXUnionPay,https://api.card-gorilla.com:8080/storage/card...
2,3.0,신한카드 Lady,신한카드,"해외겸용 5,000원",전월실적30만원 이상,VISAmastercardUnionPay,https://api.card-gorilla.com:8080/storage/card...
5,6.0,신한카드 Cube,신한카드,"국내전용 10,000원 해외겸용 13,000원",전월실적30만원 이상,VISAmastercard,https://api.card-gorilla.com:8080/storage/card...
6,7.0,신한카드 23.5°,신한카드,"국내전용 10,000원 해외겸용 14,000원",전월실적없음,VISA,https://api.card-gorilla.com:8080/storage/card...
...,...,...,...,...,...,...,...
2560,2564.0,[광주] K-그린카드v2,광주은행,"국내전용 10,000원 해외겸용 12,000원",전월실적30만원 이상,mastercard,https://api.card-gorilla.com:8080/storage/card...
2561,2565.0,I-PET,IBK기업은행,"국내전용 18,000원 해외겸용 19,000원",전월실적없음,mastercard,https://api.card-gorilla.com:8080/storage/card...
2562,2566.0,Trip to 로카,롯데카드,"국내전용 20,000원 해외겸용 20,000원",전월실적없음,mastercardAMEX,https://api.card-gorilla.com:8080/storage/card...
2563,2567.0,우리동네GS 삼성카드,삼성카드,"국내전용 15,000원 해외겸용 15,000원",전월실적없음,VISA,https://api.card-gorilla.com:8080/storage/card...
2566,2572.0,Mile1 하나카드,하나카드,"국내전용 20,000원 해외겸용 20,000원",전월실적없음,UnionPay,https://api.card-gorilla.com:8080/storage/card...

In [277]:
# benefit 거르기 (719개)

filtered_benefit = benefit[benefit['card_id'].isin(filtered_credit_card['card_id'])]
filtered_benefit["card_name"].nunique()

719

In [278]:
# filtered_benefit.to_csv("filtered_benefit.csv")
benefit_total = filtered_benefit

In [280]:
# benefit 카드카테고리 정리

filtered_benefit.loc[filtered_benefit['card_category'].isin(['쇼핑', '백화점', '면세점','대형마트','편의점','마트/편의점','드럭스토어','화장품','아울렛','SPA브랜드','전통시장']), 'card_category'] = '소매'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['교육/육아','아이행복','학원','문화센터','어린이집','학습지','유치원']), 'card_category'] = '학문/교육'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['패밀리레스토랑','푸드','카페','베이커리','패스트푸드','카페/디저트','점심','일반음식점','저녁','아이스크림']), 'card_category'] = '음식'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['렌탈','보험','약국','인테리어','공과금/렌탈','동물병원','펫샵','주유','통신','주유소','헤어','뷰티/피트니스','생활','병원/약국','공과금','렌터카','SKT','KT','LGU+','애완동물','병원','은행사','카드사','충전소']), 'card_category'] = '생활서비스'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['영화','테마파크','여행사','진에어','공연/전시','영화/문화','도서','게임']), 'card_category'] = '관광/여가/오락'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['호텔','리조트']), 'card_category'] = '숙박'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['경기관람','골프']), 'card_category'] = '스포츠'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['대중교통','교통','택시','고속버스','자동차/하이패스','기차','자동차','하이패스','차/중고차']), 'card_category'] = '교통'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['온라인쇼핑','소셜커머스','홈쇼핑','배달앱','해외직구']), 'card_category'] = '온라인'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['간편결제','카카오페이','삼성페이','네이버페이','PAYCO']), 'card_category'] = '간편결제'
filtered_benefit.loc[filtered_benefit['card_category'].isin(['항공마일리지','공항라운지','대한항공','아시아나항공','공항','항공권','제주항공','저가항공','공항라운지/PP']), 'card_category'] = '항공'

In [281]:
filtered_benefit['card_category'].unique()

array(['소매', '모든가맹점', '생활서비스', '금융', '기타', '적립', '음식', '관광/여가/오락', '스포츠',
       '유의사항', '학문/교육', '선택형', '할인', '교통', '프리미엄', '캐시백', '항공', '온라인',
       '바우처', 'PP', '정비', '해외', '간편결제', '무실적', '여행/숙박', '프리미엄 서비스',
       '디지털구독', '무이자할부', '라운지키', '멤버십포인트', 'APP', '레저/스포츠', '해외이용',
       '국민행복', 'OK캐쉬백', 'SSM', '하이브리드', '숙박', '온라인 여행사', '음원사이트',
       '국내외가맹점', '피트니스', '수수료우대', '제휴/PLCC', '보험사', 'CJ ONE', '비즈니스',
       'BC TOP', '지역', '해피포인트', '연회비지원', nan], dtype=object)

In [250]:
# filtered_benefit = filtered_benefit[filtered_benefit['card_category'] != '연회비지원']
# filtered_benefit = filtered_benefit[filtered_benefit['card_category'] == '소매']

In [282]:
filtered_benefit = filtered_benefit[filtered_benefit['card_category'].isin(['소매', '음식', '생활서비스'])]

In [283]:
filtered_benefit.to_csv('filtered_benefit.csv')

In [253]:
# filtered_benefit['accumulation'] = filtered_benefit['content'].apply(lambda x: x if '적립' in x else '')
# filtered_benefit['discount'] = filtered_benefit['content'].apply(lambda x: x if '할인' in x else '')

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_23696\1236402407.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_benefit['accumulation'] = filtered_benefit['content'].apply(lambda x: x if '적립' in x else '')
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_23696\1236402407.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_benefit['discount'] = filtered_benefit['content'].apply(lambda x: x if '할인' in x else '')

In [284]:
filtered_benefit = filtered_benefit.drop(['content'], axis=1)

In [285]:
filtered_benefit['new_column'] = ''

In [286]:
def split_detail(detail):
    return detail.split('\r\n')

# 새로운 열에 분리된 내용 저장
filtered_benefit['split_detail'] = filtered_benefit['detail'].apply(split_detail)

In [257]:
del filtered_benefit['detail']

In [287]:
filtered_benefit.to_csv('discount,acumulation.csv', index=False)

In [288]:
filtered_benefit

,card_id,card_name,card_category,detail,new_column,split_detail
0,1.0,신한카드 Hi-Point,소매,롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립\r\n- 문화센타 등 비쇼핑 ...,,"[롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립, - 문화센타 등 비쇼핑 항..."
2,1.0,신한카드 Hi-Point,생활서비스,S-OIL / 현대오일뱅크 주유 시 리터 당 60원 마이신한포인트 적립\r\n- S...,,"[S-OIL / 현대오일뱅크 주유 시 리터 당 60원 마이신한포인트 적립, - S-..."
4,1.0,신한카드 Hi-Point,생활서비스,SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립\r\n- SK텔레콤/K...,,"[SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립, - SK텔레콤/KT..."
7,2.0,신한카드 Love,소매,"국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인\r\n- 백화점 : 현대...",,"[국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인, - 백화점 : 현대,..."
8,2.0,신한카드 Love,음식,"유명 패밀리 레스토랑 20~30% 할인\r\n- 패밀리 레스토랑 : 아웃백, 카페마...",,"[유명 패밀리 레스토랑 20~30% 할인, - 패밀리 레스토랑 : 아웃백, 카페마마..."
...,...,...,...,...,...,...
14794,2565.0,I-PET,음식,"커피 10% 할인\r\n- 스타벅스, 커피빈, 투썸플레이스, 폴바셋, 이디야\r\n...",,"[커피 10% 할인, - 스타벅스, 커피빈, 투썸플레이스, 폴바셋, 이디야, - 월..."
14795,2565.0,I-PET,소매,"대형마트 5% 할인\r\n- 이마트, 롯데마트, 홈플러스\r\n- 월 최대 1만원 ...",,"[대형마트 5% 할인, - 이마트, 롯데마트, 홈플러스, - 월 최대 1만원 할인 ..."
14796,2565.0,I-PET,소매,"편의점 5% 할인\r\n- GS25, CU, 세븐일레븐\r\n- 월 최대 5천원 할...",,"[편의점 5% 할인, - GS25, CU, 세븐일레븐, - 월 최대 5천원 할인(오..."
14801,2567.0,우리동네GS 삼성카드,소매,GS25 1%/5%/10% 결제일 할인\r\n- 서비스 안내: GS25 1%/5%/...,,"[GS25 1%/5%/10% 결제일 할인, - 서비스 안내: GS25 1%/5%/1..."
14804,2567.0,우리동네GS 삼성카드,음식,커피전문점/배달앱 10% 결제일할인\r\n- 서비스안내: 커피전문점/배달앱 10% ...,,"[커피전문점/배달앱 10% 결제일할인, - 서비스안내: 커피전문점/배달앱 10% 결..."

In [296]:
new = pd.read_csv('data/benefit_detail.csv')

In [297]:
new

,card_id,card_name,card_category,accumulation,discount,new_column,split_detail
0,1.0,신한카드 Hi-Point,소매,백화점/할인점/홈쇼핑·온라인몰 1.0~5.0% 적립,NaN,"[롯데백화점,현대백화점,롯데마트,이마트,홈플러스,토이저러스,CJ오쇼핑,CJmall]...",NaN
1,1.0,신한카드 Hi-Point,생활서비스,"S-OIL, 현대오일뱅크 주유 시 리터 당 60원 적립",NaN,"[S-OIL, 현대오일뱅크][리터 당 60원 적립]",NaN
2,1.0,신한카드 Hi-Point,생활서비스,SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립,NaN,"[SKT,KT,LG U][1.0~5.0% 적립]",NaN
3,2.0,신한카드 Love,소매,NaN,"국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인","[현대백화점,롯데백화점,신세계백화점,갤러리아백화점,이마트,롯데마트,홈플러스,GS홈쇼...",NaN
4,2.0,신한카드 Love,음식,NaN,"국내 유명 패밀리레스토랑, 커피 20~30% 할인","[아웃백,카페마마스,스타벅스][20% 할인]\n[불고기브라더스, 제일제면소][30%...",NaN
...,...,...,...,...,...,...,...
243,184.0,NH20 해봄카드,생활서비스,NaN,"통신비 4,000원 할인","[SKT,KT,LGU+][4천원 할인]",NaN
244,184.0,NH20 해봄카드,음식,NaN,커피 30% 할인,"[스타벅스,이디야][30% 할인]",[월 5천원]
245,184.0,NH20 해봄카드,소매,NaN,GS25 5% 할인,[GS25][5% 할인],[월 5천원]
246,184.0,NH20 해봄카드,생활서비스,NaN,주유 5% 할인,"[SK에너지,농협주유소][5% 할인]",NaN
247,185.0,NH농협 부자되세요 아파트카드(비씨),생활서비스,NaN,아파트관리비 최대 1만원 할인,[관리비][1만원 할인],NaN

In [298]:
new['content'] = new['accumulation'] + new['discount']

In [300]:
new['content'] = new['accumulation'].astype(str) + new['discount'].astype(str)

In [304]:
new['content'] =  new['content'].str.replace("nan", "")

In [307]:
del new['accumulation']

In [308]:
del new['discount']

In [312]:
new.to_csv('benefit_detail.csv', index=False)